/* ==========================
*   GENERAL
============================*/

body{
    font-family: 'Merriweather', serif;
    background:  rgba(252, 251, 249, 0.68);
    font-size: 1rem;
    color: $dark-grey;
    font-weight: 400;
    overflow-x: hidden;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    outline: 0;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    max-height: 100%;
}

/* ==========================
*   TYPOGRAPHY
============================*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Spectral SC', sans-serif;
    color: #25282b;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: $orange;
}

a{
    color: $orange;
    transition: color 0.1s ease-in-out;
    outline: none;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: $orange-hover;
    outline: none;
}

a:focus{
    color: $orange-hover;
    text-decoration: none;
    outline: none;
}

p{
    font-size: 16px;
    color: $light-grey;
    font-weight: normal;
    line-height: 26px;
}

p.large{
    font-size: 22px;
    line-height: 1.8;
}

ul{
    list-style-type: none;
    padding: 0;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid $light-grey;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.block{
    display: block;
}

.left{
    float: left;
}

.right{
    float: right;
}

.valign{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.uppercase{
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.white-text{
    color: $white;
}

.light-grey{
    color: $light-grey;
}

/* ==========================
*   SPACINGS
============================*/
.nomargin{
    margin: 0 !important;
}

.nopadding{
    padding: 0 !important;
}

.mt-0{
    margin-top: 0 !important;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mt-50{
    margin-top: 50px;
}

.mt-60{
    margin-top: 60px;
}

.mt-70{
    margin-top: 70px;
}

.mt-80{
    margin-top: 80px;
}

.mt-90{
    margin-top: 90px;
}

.mt-100{
    margin-top: 100px;
}

.mt-110{
    margin-top: 110px;
}

.mt-120{
    margin-top: 120px;
}

.mt-130{
    margin-top: 130px;
}

.mt-140{
    margin-top: 140px;
}

.mb-0{
    margin-bottom: 0 !important;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-60{
    margin-bottom: 60px;
}

.mb-70{
    margin-bottom: 70px;
}

.mb-80{
    margin-bottom: 80px;
}

.mb-90{
    margin-bottom: 90px;
}

.mb-100{
    margin-bottom: 100px;
}

.mb-110{
    margin-bottom: 110px;
}

.mb-120{
    margin-bottom: 120px;
}

.mb-130{
    margin-bottom: 130px;
}

.mb-140{
    margin-bottom: 140px;
}

.pt-0{
    padding-top: 0;
}

.pt-10{
    padding-top: 10px;
}

.pt-20{
    padding-top: 20px;
}

.pt-30{
    padding-top: 30px;
}

.pt-40{
    padding-top: 40px;
}

.pt-50{
    padding-top: 50px;
}

.pt-60{
    padding-top: 60px;
}

.pt-70{
    padding-top: 70px;
}

.pt-80{
    padding-top: 80px;
}

.pt-90{
    padding-top: 90px;
}

.pt-100{
    padding-top: 100px;
}

.pt-110{
    padding-top: 110px;
}

.pt-120{
    padding-top: 120px;
}

.pt-130{
    padding-top: 130px;
}

.pt-140{
    padding-top: 140px;
}

.pt-150{
    padding-top: 150px;
}

.pt-160{
    padding-top: 160px;
}

.pt-170{
    padding-top: 170px;
}

.pt-180{
    padding-top: 180px;
}

.pt-190{
    padding-top: 190px;
}

.pt-200{
    padding-top: 200px;
}

.pb-0{
    padding-bottom: 0;
}

.pb-10{
    padding-bottom: 10px;
}

.pb-20{
    padding-bottom: 20px;
}

.pb-30{
    padding-bottom: 30px;
}

.pb-40{
    padding-bottom: 40px;
}

.pb-50{
    padding-bottom: 50px;
}

.pb-60{
    padding-bottom: 60px;
}

.pb-70{
    padding-bottom: 70px;
}

.pb-80{
    padding-bottom: 80px;
}

.pb-90{
    padding-bottom: 90px;
}

.pb-100{
    padding-bottom: 100px;
}

.pb-110{
    padding-bottom: 110px;
}

.pb-120{
    padding-bottom: 120px;
}

.pb-130{
    padding-bottom: 130px;
}

.pb-140{
    padding-bottom: 140px;
}

.pb-150{
    padding-bottom: 150px;
}

.pb-160{
    padding-bottom: 160px;
}

.pb-170{
    padding-bottom: 170px;
}

.pb-180{
    padding-bottom: 180px;
}

.pb-190{
    padding-bottom: 190px;
}

.pb-200{
    padding-bottom: 200px;
}
