/*
Website Name: Jedi Admin Theme
Theme URI:    http://kwiqpick.com/
Author:       Kwiqpick Team
Author URI:   http://kwiqpick.com/
Description:  Description
Version:      1.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------


--------------------------------------------------------------*/

a{
    text-decoration: none;
    color: #FFF;
}

