/*
Website Name: Kwiqpick
Theme URI:    http://kwiqpick.com/
Author:       Kwiqpick
Author URI:   http://kwiqpick.com/
Description:  Description
Version:      3.0.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Bootstrap
# Font-Awesome
# General Properties
    - Global
    - Typography
    - Spacings

--------------------------------------------------------------*/

@import "bootstrap";
@import "font-awesome";
@import "base/_variables.css";
@import "base/_mixins.css";
@import "base/_global.css";
