.btn{
    background-color: none;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    font-size: 13px;
    color: $white;
    border-radius: 0;
    cursor: pointer;
    text-shadow: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    &--radius-rest{
        border-radius: 0 3px 3px 0;
    }

    &--large{
        width: 150px;
        height: 44px;
        font-size: 13px;
        padding: 12px 20px;
        line-height: 14px;

        @mixin atSmall{
            width: 250px;
            font-size: 16px;
            padding: 12px 40px;
            height: 54px;
        }
    }

    &--m-3{
        margin-left: -3px;
    }

    &--orange{
        background-color: $orange;
        border-color: $orange;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        margin-top: 10px;

        @mixin atSmall{
            margin-top: 0;
        }
    }

    &--orange:hover,
    &--orange:focus,
    &--orange:active{
        background-color: $orange-hover;
        color: $white;
    }
}
