/* ==========================
*   DOWNLOAD KWIQPICK
============================*/
.download{
    padding-bottom: 35px;
    position: relative;

    @mixin atSmall{
        padding-top: 35px;
        padding-bottom: 0;
    }

    &:after{
        content: "";
        background: url("/assets/images/bangalore.png");
        background-position: 0 100%;
        background-color: $orange;
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-repeat: repeat-x;
    }

    &__app{
        z-index: 2;
        position: relative;

        figure{
            margin: 0;
            display: none;
            text-align: center;

            @mixin atSmall{
                display: block;
            }
        }
    }

    &__kwiqpick-left--text{
        padding-top: 110px;

        h3{
            color: $white;
            font-weight: 400;
        }

        p{
            color: $white;
            text-align: justify;
        }
    }
}
