/* ==========================
*   FOOTER
============================*/
.footer {


    padding: 60px 0;
    z-index: 1;
    position: relative;

    @mixin atSmall{
        padding: 90px 0;
    }

    &.lazyloaded{
         background: url("/assets/images/footer-bg.png") center repeat;
    }

    h5{
        color: $white;
        margin-bottom: 15px;
        font-size: 1.5rem;
        font-weight: 400;
    }

    span, p{
        font-size: 1.5rem;
        font-weight: 400;
        color: $light-grey;
    }

    ul li{
        margin-bottom: 6px;
    }

    li a{
        line-height: 20px;
        display: inline-block;
    }

    ul li a{
        color: $light-grey;
        transition: all .3s;
        font-size: 1.4rem;

        &:hover{
            color: $orange;
            padding-left: 5px;
        }
    }

    &__top{
        padding-bottom: 30px;

        @mixin atSmall{
            padding-bottom: 50px;
        }
    }

    &__logo img{
        display: block;
        width: 90px;
        margin-bottom: 15px;
    }

    &__address h5 a{
        color: $orange;
        font-family: 'Merriweather', sans-serif;
        transition: all .3s;
        font-size: 20px;
        font-weight: 500;
        margin-left: 15px;

        &:hover{
            color: $white;
            padding-left: 5px;
        }
    }

    &__address p{
        margin-bottom: 15px;

        @mixin atSmall{
            margin-bottom: 35px;
        }
    }
}
