/* ==========================
*   FORM ELEMENTS
============================*/
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
input[type=date],
input[type=search],
select,
textarea{
    height: 44px;
    border: 1px solid $light-grey;
    background-color: $white;
    width: 100%;
    font-size: 13px;
    padding: 0 16px;
    float: left;
    box-shadow: none;
    border-radius: 3px 0 0 3px;
    transition: all 0.3s ease-in-out;

    @mixin atSmall{
        width: 500px;
        height: 54px;
    }
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=search]:focus,
textarea:focus{
    border-color: $dark-blue;
    background-color: $white;
    outline: none;
    box-shadow: none !important;
}

.input--orange:focus{
    border-color: $orange !important;
}

.form__search{
    margin-bottom: 60px;
    display: block;
    margin-top: 20px;
    text-align: center;

    @mixin atSmall{
        margin-top: 50px;
    }
}

/* Change Color of Placeholders */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $light-grey;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: $light-grey;
    opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: $light-grey;
    opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: $light-grey;
}

.kwiqpick--controls{
    padding-left: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.kwiqpick--controls-input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.kwiqpick--controls-input:checked~.kwiqpick--controls-indicator{
    color: $white;
    background-color: $orange;
    margin-top: 0;
    padding: 10px;
    border-radius: 100%;
}

.kwiqpick--checkbox .kwiqpick--controls-indicator{
    border-radius: 100%;
}

.kwiqpick--controls-indicator{
    padding: 10px;
    background-color: $white;
    box-shadow: 0 0 1px 3px rgba(93, 92, 99, 0.05);
    border: 1px solid rgba(116, 135, 150, 0.23);
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    user-select: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.kwiqpick--controls-input:focus~.kwiqpick--controls-indicator {
    box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem $orange;
}

.kwiqpick--controls-input:active~.kwiqpick--controls-indicator {
    color: $white;
    background-color: $orange;
}

.kwiqpick--controls-input:disabled~.kwiqpick--controls-indicator {
    cursor: not-allowed;
    background-color: #eee
}

.kwiqpick--checkbox .kwiqpick--controls-input:checked~.kwiqpick--controls-indicator{
    background-image: url("/assets/images/tick.png");
}

.kwiqpick--controls-input:disabled~.kwiqpick--controls-desc {
    color: #767676;
}

.kwiqpick--controls-desc{
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
}
