/* ==========================
 *   HEADER
 ============================*/
.site-header{
    padding: 20px 0;
    background: transparent;
    position: absolute;
    width: 100%;
    transition: all 300ms ease-in-out 0s;
    z-index: 5;

    &--is-expanded{
         background: rgba(0, 0, 0, 0.9);
         height: 100%;
         left: 0;
         position: fixed;
         top: 0;
         width: 100%;
         z-index: 9999;
    }

    @mixin atMedium{
        position: fixed;
        
        &--dark{
            background: url("/assets/images/header-bg.jpg");
            transition: all 300ms ease-in-out 0s;
        }
    }

    &__logo{
         position: absolute;
         display: block;
         /*padding: 25px;*/
         top: 0;
         left: 50%;
         transform: translateX(-50%) scale(.8);
         transition: all .3s ease-out;
         transform-origin: 50% 0;

        @mixin atMedium{
            left: auto;
            transform: translateX(0);

            .site-header--dark &{
                transform: scale(.61);
            }
        }

        &--is-visible{
             display: none;
        }
    }

    &__menu-icon{
        width: 20px;
        height: 20px;
        /*background-color: $white;*/
        position: absolute;
        z-index: 10;
        top: 20px;
        right: 10px;

        &::before{
             content: '';
             position: absolute;
             top: 0;
             left: 0;
             width: 20px;
             height: 3px;
             background-color: #ffffff;
             transform-origin: 0 0;
             transition: transform .3s ease-out;
        }

        &__middle{
             position: absolute;
             top: 8px;
             left: 0;
             width: 20px;
             height: 3px;
             background-color: #ffffff;
             transition: all .3s ease-out;
             transform-origin: 0 50%;
        }

        &::after{
             content: '';
             position: absolute;
             bottom: 0;
             left: 0;
             width: 20px;
             height: 3px;
             background-color: #ffffff;
             transform-origin: 0 100%;
             transition: transform .3s ease-out;
        }

        @mixin atMedium{
            display: none;
        }
    }

    &__menu-icon--close-x{
        &::before{
            transform: rotate(46deg) scaleX(1.28);
        }

        .site-header__menu-icon__middle{
            opacity: 0;
            transform: scaleX(0);
        }

        &::after{
             transform: rotate(-46deg) scaleX(1.28) translateY(1px);
        }
    }

    &__menu-content{
         /*padding-top: 100px;*/
        opacity: 0;
        transform: scale(1.2);
        transition: all .3s ease-out;
        position: relative;
        z-index: -10;
        text-align: center;

        @mixin atMedium{
            padding-top: 0;
            opacity: 1;
            z-index: 1;
            transform: scale(1);
        }

        &--is-visible{
            opacity: 1;
            z-index: 1;
            transform: scale(1);
             /*display: block;*/
        }
    }
}

.site-header--blue{

    @mixin atMedium{
        background: url("/assets/images/header-bg.jpg");
    }
}
