/* ==========================
*   HERO IMAGE
============================*/
.hero-image{
    padding-top: 25%;
    padding-bottom: 5%;

    @mixin atMedium{
        padding-top: 8%;
        padding-bottom: 5%;
    }
}
