/* ==========================
*   HOME
============================*/
.home{
    background: url("/assets/images/home__bg.jpeg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__container{
         margin-top: 150px;

        @mixin atSmall{
            margin-top: 200px;
        }
    }

    &__text{
        h1{
            color: $white;
            font-size: 2rem;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0 auto;
            letter-spacing: 1px;
            /*padding-top: 200px;*/
            display: block;
            text-align: center;

            @mixin atSmall{
                font-size: 3rem;
            }
        }
    }

    &__boxes{
         margin-top: 10px;

        @mixin atSmall{
            margin-top: 100px;
        }
    }

    &__boxes--item{
         display: inline-block;
         margin: 0 20px 0;
         position: relative;

        @mixin atSmall{
            margin: 0 40px 0;
        }

    svg{
        display: block;
        margin: auto;
        padding-bottom: 10px;
        width: 54px;
        height: 54px;
    }

        h4{
            color: $white;
            text-align: center;
            font-size: 18px;

            span{
                font-size: 18px;
                color: $orange;
            }
        }
    }

    &__boxes--item1:after,
    &__boxes--item2:after{
         position: absolute;
         content: "";
         right: -40%;
         top: 6%;
         background: none;
         width: 130px;
         height: 32px;

        @mixin atMedium{
            background: url("/assets/images/arrow.png") no-repeat;
        }
    }

    &__boxes--item2:after{
         right: -52%;
         top: 6%;
         height: 32px;
         background: none;

         @mixin atMedium{
             background: url("/assets/images/arrow-dotted.png") no-repeat;
         }
    }
}