/* ==========================
*   PAGINATION
============================*/
.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
    border-color: $grey;
}

.page-link {
    color: $black !important;
    background-color: $white;
    border: 1px solid $grey !important;
    font-size: 12px;
    padding: 8px 15px !important;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
    background-color: $orange;
    border-color: $orange;
    color: $white !important;
}
