.panel {
    margin-bottom: 15px;
    border: 1px solid $grey;
    border-radius: 3px;
    box-shadow: none;
}

.panel-heading {
    padding: 15px;
    border: none!important;
    border-radius: 0;
}

.panel-title {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: #25282b;
}

.panel-heading i {
    padding-right: 7px;
    font-size: 14px
}

.panel-title a {
    color: $black;
}

.panel .panel-body {
    padding: 20px;
    font-size: 12px;
    text-align: justify;
}
