.playstore-btn{
    .store-btn{
        color: $white;
        float: left;
        margin-right: 15px;
        background: $light-grey;
        margin-top: 5px;
        border-radius: 5px;
        transition: all .3s;

        i{
            font-size: 38px;
            line-height: 46px;
            margin: 0;
            padding: 0 18px;
        }

        .pull-right{
            padding: 8px 25px 8px 10px;

            .available-text{
                display: block;
                font-size: 12px;
                line-height: 1px;
                padding: 7px 0;
            }
        }
    }

    .android-button{
        background: $android-green;
    }

    .store-btn:hover,
    .store-btn:focus,
    .store-btn:active{
        color: $white;
        background: $black;
    }
}

.playstore{
    font-size: 13px;
}
