.primary-nav{

    &--pull-right{

        @mixin atMedium{
            float: right;
        }
    }

    ul{
        margin: 0;
        padding: 100px 0;

        @mixin atMedium{
            padding: 0;
        }
    }

    li{
        list-style: none;
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;

        @mixin atMedium{
            float: left;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 20px;
        }
    }

    li:last-child{
        padding-right: 0;
    }

    a{
        color: $white;
        text-decoration: none;
        font-size: 25px;
        font-weight: 300;
        padding: 12px;

        @mixin atMedium{
            font-size: 14px;
        }
    }
}
