/* ==========================
*   RESTAURANTS
============================*/
.restaurants--bg-image{
    background: url("/assets/images/restaurants.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image{
    padding-top: 5%;
    padding-bottom: 5%;
}

.restaurants{
    margin-top: 30px;
    border-top: 1px solid $grey;
    /*color: $white;*/

    &__sidebar{
        border: 1px solid $grey;
        background: $light-white;
        border-radius: 3px;
    }

    &__sidebar-title{
        padding: 15px 15px 15px;
        background: $orange;
        float: left;
        width: 100%;

        h6{
            float: left;
            margin-bottom: 0;
            margin-top: 0;
            color: $white;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 20px;
        }

        i{
            float: right;
            color: $white;
            font-size: 13px;
            margin-top: 5px;
        }
    }

    &__main-block{
        ul{
            float: left;
            width: 100%;
            margin-bottom: 0;

            li{
                line-height: 25px;
                font-weight: 300;
                display: block;
                padding: 10px;
                border-bottom: 1px solid $grey;

                &:hover{
                    background: $white;
                }
            }
        }
    }

    &__main-block ul:hover li:last-child{
         border-bottom: 1px solid transparent;
         border-bottom: 1px solid $grey;
    }

    &__main-block ul li:first-of-type{
         border-top: none
    }

    &__open-point{
        border: 1px solid $grey;
        border-radius: 2px;
        margin-bottom: 20px;
    }

    &__open-point__logo{
        float: none;
        width: 110px;
        height: auto;
        border: 1px solid $grey;
        border-radius: 2px;
        margin: 10px auto;
        overflow: hidden;

        @mixin atSmall{
            float: left;
            margin-top: 15px;
            margin-left: 15px;
        }

        img{
            max-width: 100%;
            display: block;
        }
    }

    &__open-point__desc{
        padding: 0 15px;
        text-align: center;
        margin-top: 15px;

        @mixin atSmall{
            text-align: left;
            padding-left: 145px;
        }

        span{
            color: $light-grey;
            font-size: 13px;
        }

        h5 a{
            color: $black;
            font-weight: 500;
            font-size: 16px;
        }

        ul li{
            font-size: 12px;
            margin-top: 10px;
            color: $light-grey;
        }
    }

    &__content-right__review{
        padding: 15px 10px;
        margin-top: 15px;
        text-align: center;
        border-left: transparent;
        border-top: 1px solid $grey;
        min-height: 143px;

        @mixin atSmall{
            border-left: 1px solid $grey;
            border-top: transparent;
            margin-top: 0;
        }
    }

    &__content-right__review-block{
        color: $orange;
        background: transparent;
        border: none;
        /*text-align: center;*/
        padding: 5px 15px 5px;

        i{
            font-size: 16px;
        }
    }
}
