/* ==========================
*   SOCIAL ICONS
============================*/
.social{
    padding: 0;
    margin: 25px 0;
    list-style: none;

    li{
        display: inline-block;
        padding: 0;
        margin-bottom: 3px;

        a:hover{
            padding-left: 0 !important;
        }

        a i{
            border-radius: 50%;
            border: 1px solid $white;
            color: $white;
            opacity: .6;
            background: transparent;
            display: block;
            height: 36px;
            width: 36px;
            font-size: 1.87rem;
            line-height: 36px;
            margin: 0 1rem 1rem 0;
            padding: 0;
            text-align: center;
        }

        a i.fa.fa-facebook:hover{
            background-color:#3c5fac;
            opacity: 1;
            border-color: #3c5fac;
            transition: all .5s;
        }

        a i.fa.fa-linkedin:hover{
            background-color: #007bb6;
            opacity: 1;
            border-color: #007bb6;
            transition: all .5s;
        }
    }
}
